{% set target_selector = '#' ~ target_id %}
{% set state_refresh = "htmx.ajax('" ~ request.url_for('api_diag_debug_state') ~ "?format=html',{target:'" ~ target_selector ~ "',swap:'outerHTML'});" %}
{% set widget_refresh = "if(window.SilhouetteRefreshDebugWidget){window.SilhouetteRefreshDebugWidget();}" %}
<span id="{{ target_id }}">
  {% if enabled %}
    <button
      type="button"
      class="btn small success"
      hx-post="{{ request.url_for('api_diag_debug_disable') }}"
      hx-headers='{"Accept":"application/json"}'
      hx-swap="none"
      hx-on::afterRequest="{{ state_refresh ~ ' ' ~ widget_refresh }}">
      Debug ON
    </button>
  {% else %}
    <button
      type="button"
      class="btn small"
      hx-post="{{ request.url_for('api_diag_debug_enable') }}"
      hx-headers='{"Accept":"application/json"}'
      hx-swap="none"
      hx-on::afterRequest="{{ state_refresh ~ ' ' ~ widget_refresh }}">
      Debug OFF
    </button>
  {% endif %}
</span>
