MSH|^~\&|SIL|SIL|RCP|RCP|{{ ts }}||{{ message_type }}|1|P|2.5.1
PID|||{{ patient_id|default('123456') }}||{{ family|default('DOE') }}^{{ given|default('JOHN') }}||{{ dob|default('19800101') }}|{{ gender|default('U') }}
