MSH|^~\&|SIL|SIL|RCP|RCP|{{ ts }}||VXU^V04|1|P|2.5.1
PID|||{{ patient_id }}||{{ family|default('DOE') }}^{{ given|default('JOHN') }}||{{ dob|default('19800101') }}|{{ gender|default('U') }}
ORC|RE|||
RXA||0|{{ ts }}|{{ ts }}|{{ cvx_code }}^{{ cvx_code_text|default('VACCINE')}}^CVX|{{ dose|default('0.5') }}|mL||00
